<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table class="board_list" border="1">
        <%if(contents.length>0){%>
        <%var i = 0;%>
        <%contents.forEach(function(item){%>
        <%i++;%>
        <tr>
          <td colspan="5"><a href="./boards/view/<%=item._id%>"><%=item.title%></a></td>
        </tr>
        <%})%>
        <%} else {%>
        <tr>
            <td colspan="5">게시물이 없습니다.</td>
        </tr>
        <%}%>
    </table>
    <a href="/boards/boardUp">글올리기</a>
  </body>
</html>
