<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table class="board_list" border="1">
        <tr>
          <td>제목 : <%=item.title%></tr>
          <td>내용 : <%=item.content%></tr>
        </tr>
    </table>
    <a href="/boards/boardEdit">글수정하기</a>
  </body>
</html>
